


    {{ result }}


<!DOCTYPE html>
<html>
  <head>
    <title>Shopaholic | Free Alerts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  </head>
  <body>
    <div id="c_wrap">

      <div class="container_wrap c_header_other">
        <div class="container">
          <div class="row">
            <div class="span6">
              <a href="/"><img class="c_main_logo" src="{{ STATIC_URL }}img/logo.png">
              <h2><b>Shop</b>aholic</h2></a>
            </div>
            <div class="span6">
              <a class="c_top_get_alert" href="#">Get alerts for free</a>
            </div>
          </div>
         
        </div>
      </div>

      <div class="container_wrap c_search">
        <div class="container">
          <div class="row">
              <div class="span12 c_search_bar_wrap">
               <form id="c_form_one" action="" method="post"> {% csrf_token %}
                  <div style="display:none;"> {{ interest_form.gender_type }}</div>
                <div id="c_search_bar_one">
                  <div class="row">
                    <div class="span12 c_result_initial">
                      <h4>&nbsp</h4>
                    </div>
                  </div>
                  <div id="c_search_icon">
                    <img src="{{ STATIC_URL }}img/search_icon.png">
                  </div>
                  <div id="c_search_box">
                    <input type="text" class="c_search_bar" placeholder="what are you looking for?" list="browsers">

                    <datalist id="browsers">
                      <option value="Shoes"></option>
                      <option value="Casual Shoes"></option>
                      <option value="Sports Shoes"></option>
                    </datalist>

                   <!-- <select id="c_hidden_input_one">
                      <option value="Internet Explorer 7">
                      <option value="Internet Explorer 8">
                      <option value="Internet Explorer 9">
                      <option value="Internet Explorer 10">
                      <option value="Firefox">
                      <option value="Chrome">
                      <option value="Opera">
                      <option value="Safari">
                    </select>-->

                      {{ interest_form.interest }}

                  </div>
                  <div class="c_male_icon_select_wrap">
                    <p><img src="{{ STATIC_URL }}img/male_icon_selected.png"></p>
                    <p>MALE</p>
                  </div>
                  <div class="c_male_icon_wrap">
                    <p><img src="{{ STATIC_URL }}img/male_icon.png"></p>
                    <p>MALE</p>
                  </div>

                  <div class="c_female_icon_select_wrap">
                    <p><img src="{{ STATIC_URL }}img/female_icon_selected.png"></p>
                    <p>FEMALE</p>
                  </div>
                  <div class="c_female_icon_wrap">
                    <p><img src="{{ STATIC_URL }}img/female_icon.png"></p>
                    <p>FEMALE</p>
                  </div>

                   


                </div>

                <div id="c_search_bar_two">
                  <div class="row">
                    <div class="span12 c_result_initial">
                      <h4>&nbsp</h4>
                    </div>
                  </div>
                  <div id="c_search_icon">
                    <img src="{{ STATIC_URL }}img/search_icon.png">
                  </div>
                  <div id="c_search_box">
                    <input type="text" class="c_search_bar_two" placeholder="prefer any brand in particular?" list="list2">
                    <datalist id="list2">
                      <option value="Nike"></option>
                      <option value="Adidas"></option>
                      <option value="Puma"></option>
                      <option value="Reebok"></option>
                    </datalist>

                   
                      {{ interest_form.brand }}

                  </div>

                  <div class="c_male_icon_select_wrap">
                    <p><img src="{{ STATIC_URL }}img/male_icon_selected.png"></p>
                    <p>MALE</p>
                  </div>
                  <div class="c_male_icon_wrap">
                    <p><img src="{{ STATIC_URL }}img/male_icon.png"></p>
                    <p>MALE</p>
                  </div>

                  <div class="c_female_icon_select_wrap">
                    <p><img src="{{ STATIC_URL }}img/female_icon_selected.png"></p>
                    <p>FEMALE</p>
                  </div>
                  <div class="c_female_icon_wrap">
                    <p><img src="{{ STATIC_URL }}img/female_icon.png"></p>
                    <p>FEMALE</p>
                  </div>

                  
                </div>

                




              </div>
          </div>
        </div>
      </div>

      <div class="container_wrap c_result_list_wrap">
        <div class="container">
          <div class="row">
            <p class="text-center"><a class="c_email_enter_button btn-large btn">Alert me for future offers!</a></p>

              <div class="input-append c_email_enter_wrap">
                <p class="text-center">
                 <!-- <input type="text" id="appendedInputButton" class="input-xxlarge c_email_enter_text" placeholder="enter your email address to stay updated!">-->
                    {{ interest_form.email }}
                  <input class="btn c_email_enter_submit_button" type="submit" value="Go!">
                </p>
              </div>
             </form>
          </div>
          <div class="row">
            <br><br><h3>Featured results/ Most Popular</h3><br>
            <div class="span3 c_result_each">
              <div class="c_result_each_image">
                <img src="{{ STATIC_URL }}img/1-nikelogos.jpg" alt="image">
              </div>
              <h2>40% off</h2>
                <h4>Name</h4>
            </div>
             <div class="span3 c_result_each">
              <div class="c_result_each_image">
                <img src="{{ STATIC_URL }}img/1-nikelogos.jpg" alt="image">
              </div>
              <h2>40% off</h2>
                <h4>Name</h4>
            </div>
             <div class="span3 c_result_each">
              <div class="c_result_each_image">
                <img src="{{ STATIC_URL }}img/1-nikelogos.jpg" alt="image">
              </div>
              <h2>40% off</h2>
                <h4>Name</h4>
            </div>
             <div class="span3 c_result_each">
              <div class="c_result_each_image">
                <img src="{{ STATIC_URL }}img/1-nikelogos.jpg" alt="image">
              </div>
              <h2>40% off</h2>
                <h4>Name</h4>
            </div>

          </div>
        </div>
      </div>


       <div class="container_wrap c_product_wrap">
        <div class="container">
          <div class="row">
            <h4>NIKE MEN BLACK SWEET CLASSIC HIGH CASUAL SHOES</h4>
            <div class="span4 c_product_each">
              <div class="c_product_image_wrap">
                <img src="" alt="">
              </div>
              </div>
              <div class="span2">
                
                <h5>Rs.4599 <b> Rs.6570</b></h5>
                <h6>30% off</h6>
                <p></p>
              </div>
              <div class="span6">
                    <h4>Price Variation through the past 6 months</h4>
                    <div id="mychart" style="width:100%;height:200px;"></div>
                  
                
              </div>
            
          </div>
        </div>
      </div>

      <div class="container_wrap c_chart_data">
        <div class="container">
          <div class="row">
            
          </div>
        </div>
      </div>

      <div class="container_wrap">
        <div class="container">
          <div class="row">

          </div>
        </div>
      </div>


      <div class="c_footer">
        <div class="container">
          <div class="row">
            <div class="span6">
              <a id="c_slide_toggle_footer" href="#">+</a><p style="margin-left:20px;font-size:12px;">Codeyssus Labs</p>
            </div>
            <div class="span6">
              <p class="text-right" style="font-size:12px;">Shopaholic. Free alerts. Everyone.</p>
            </div>
          </div>
        </div>
          <div class="c_footer_hidden">
          <div class="container">
            <div class="row">
                <div class="span7">
                  <p>Folksonomies one-to-one architect, infrastructures mindshare streamline, visualize; syndicate communities web-readiness visualize, synergistic communities user-centric vortals reinvent applications wikis ubiquitous create infrastructures. Markets generate extensible content systems; extensible customized power.</p>
                </div>
                <div class="span5">
                  <ul>
                    <li class="text-right"><a href="#">Codeyssus Labs</a></li>
                    <li class="text-right"><a href="#">About</a></li>
                    <li class="text-right"><a href="#">Contact</a></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>



    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
     <script src="http://yui.yahooapis.com/3.10.3/build/yui/yui-min.js"></script>
    <script>
    // Create a new YUI instance and populate it with the required modules.
    YUI().use('charts', function (Y) {
        // Charts is available and ready for use. Add implementation
        // code here.
        // Data for the chart
          var myDataValues = [
              {category:"Mar", values:6399},
              {category:"Apr", values:6570},
              {category:"May", values:5899},
              {category:"Jun", values:6299},
              {category:"Today", values:4599}
          ];

          // Instantiate and render the chart
          var mychart = new Y.Chart({
              dataProvider: myDataValues,
              render: "#mychart"
          });
    });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){

        $('.c_search_bar').focus();

        $('.c_male_icon_wrap').click(function(){

          $('#id_gender_type option').each(function(){
             $(this).removeAttr('selected');
             if( $(this).html() == 'Male' )
                               $(this).attr('selected','selected');
          });
          $('.c_male_icon_wrap').hide();
          $('.c_male_icon_select_wrap').fadeIn();
          $('.c_female_icon_select_wrap').hide();
          $('.c_female_icon_wrap').show();
        });
        $('.c_female_icon_wrap').click(function(){

           $('#id_gender_type option').each(function(){
             
             if( $(this).html() == 'Female' )
                               $(this).attr('selected','selected');
              else
                  $(this).removeAttr('selected');
          });
          $('.c_female_icon_wrap').hide();
          $('.c_female_icon_select_wrap').fadeIn();
          $('.c_male_icon_select_wrap').hide();
          $('.c_male_icon_wrap').show();
        });
        $('.c_male_icon_select_wrap').click(function(){

           $('#id_gender_type option').each(function(){
             
             if( $(this).html() == 'Female' )
                               $(this).attr('selected','selected');
            else
                  $(this).removeAttr('selected');
          });
          $('.c_male_icon_select_wrap').hide();
          $('.c_male_icon_wrap').fadeIn();
          $('.c_female_icon_wrap').hide();
          $('.c_female_icon_select_wrap').show();
        });
        $('.c_female_icon_select_wrap').click(function(){
           $('#id_gender_type option').each(function(){
             
             if( $(this).html() == 'Male' )
                               $(this).attr('selected','selected');
              else
                  $(this).removeAttr('selected');
          });
          $('.c_female_icon_select_wrap').hide();
          $('.c_female_icon_wrap').fadeIn();
          $('.c_male_icon_wrap').hide();
          $('.c_male_icon_select_wrap').show();
        });

        var x = 0;
        $('.c_footer .container').click(function(){
          $('.c_footer_hidden').slideToggle();
          x+=45;
          $('#c_slide_toggle_footer').css('-webkit-transform','rotate('+x+'deg)');
        });



        var value_one;
        $(document).keypress(function(e) {
          if(e.which == 13) {
             /* $('.c_result_initial h4').html($('.c_search_bar').val());
              $('.c_search_bar').val('');
              $('.c_search_bar').attr('placeholder','prefer any brand in particular?');*/
              
              $('#c_search_bar_one').hide('slide', {direction: 'left'}, 500);
                  setTimeout(function(){
                        
                        $('#c_search_bar_two').show('slide', {direction: 'right'}, 500);
                        $('.c_search_bar_two').focus();
                  }, 500);

              $('.c_result_initial h4').html($('.c_search_bar').val());
              $('.c_search_bar_two').focus();

              value_one = $('.c_search_bar').val();
                      $('#c_hidden_input_one option').each(function(){
                              $(this).removeAttr('selected');
                                if( $(this).html() == value_one )
                               $(this).attr('selected','selected');
                      });

          }
        });

          var value_two;
          $('.c_search_bar_two').change(function() {

          

            value_two = $('.c_search_bar_two').val();

             $('#c_hidden_input_two option').each(function(){
                              $(this).removeAttr('selected');
                                if( $(this).html() == value_two )
                               $(this).attr('selected','selected');
                      });

             $('#c_form_one').submit();

             
        });



        $('.c_email_enter_button').click(function(){
            $(this).hide();
            $('.c_email_enter_wrap').fadeIn();
            $('.c_email_enter_text').focus();
        });


      });
    </script>
  </body>
</html>